body { 
    margin: 0; 
    height: 100vh;
}
  
canvas { 
    display: block;
}

#ScoreText{
	position: absolute;
	top: 7%;
	width: 101%;
	text-align: center;
	z-index: 100;
	display:block;
	font-size: 50px;
	color: white;
}

#PowerUpText{
	position: absolute;
	top: 25%;
	width: 40%;
	text-align: center;
	z-index: 100;
	display:block;
	font-size: 50px;
	color: red;
}

#JumpsLeftText{
	position: absolute;
	top: 25%;
	width: 160%;
	text-align: center;
	z-index: 100;
	display:block;
	font-size: 50px;
	color: red;
}